.container{
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
}

.wrapper{
    width: 100%;
    height: 100%;
    z-index: 100;
    max-width: 1024px;
    position: relative;
}

.userProfileBar{
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.userAvatarBox{
    width: 130px;
    height: 150px;
    padding: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userAvatarBox::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 136%;
    background-position: -22.5px -22px;
    background-image: url("../../../../public/assets/images/default_avatar_border.png");
    background-repeat: no-repeat;
}

.userAvatarImage{
    width: 90px;
    height: 90px;
    position: relative;
    z-index: 100;
}

.userAvatarImage:hover::after{
    content: "Edit Avatar";
    color: #FFF;
    text-align: center;
    line-height: 90px;
    font-size: 0.8rem;
    font-weight: bolder;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
}

.userProfileBox{
    width: calc(100% - 130px - 140px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userProfileContent{
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.userProfileContent strong{
    color: #FFF;
    font-size: 1.6rem;
    margin-right: 10px;
}

.userProfileIntro{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.userProfileIntro input{
    color: #FFF;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 0.9rem;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid transparent;
    background-color: transparent;
    outline: none;
    transition: all 0.3s;
    cursor: pointer;
}

.userProfileIntro input:hover{
    border: 1px solid rgba(255,255,255,0.8);
    background-color: rgba(255,255,255,0.1);
}

.userId, .userRegisterDate, .userGender{
    color: #FFF;
    display: block;
    padding: 1px 8px;
    border-radius: 8px;
    font-size: 0.8rem;
    cursor: pointer;
    margin-right: 10px;
}

.userId {
    background-color: #8BD29B;
}

.userRegisterDate {
    background-color: #F3A034;
}

.userGender{
    background-color: #FB7299;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 5px;
}

.userGender > span {
    font-size: 0.8rem;
}

.userFollowsContainer{
    width: 140px;
    height: 50px;
    padding: 0 10px;
}

.userFollowsWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 6px;
    background-color: #FFF;
    justify-content: center;
    align-items: center;
}

.userFollowers {
    border-right: 1px dashed rgba(204, 204, 204, 0.3);
}

.userFollowers, .userFollowing{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.userFollowsLabel{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.6);
    font-size: 0.5rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.userFollowsText{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}